* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 200px;
  height: 200px;
}

.img-gallery {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
}

#container {
  margin: 0 auto;
  width: 80%;
}

/*============
  LightBox
==============*/

.lb-data {
  padding: 30px 80px;
}

.lb-data .lb-caption {
  font-size: 16px;
}

.lb-data .lb-details {
  width: 600px;
}

.lb-nav a.lb-next {
  opacity: 1;
  position: absolute;
  right: -100px;
}

.lb-nav a.lb-prev {
  opacity: 1;
  position: absolute;
  left: -100px;
}

/*============
  HideSeek
==============*/

.search {
  width: 40%;
  margin: 1.5rem auto 2rem auto;
}

#search-bar {
  width: 100%;
  margin: 1.5rem auto .5rem auto;
  display: block;
  border: 3px solid #d9d9d9;
  border-radius: 8px;
  outline: none;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

li {
  list-style: none;
  padding-left: 13px;
  color: #e6e6e6;
  font-style: italic;
  display: none;
  margin-bottom: 10px;
}

li a {
  text-decoration: none;
  color:  #b3b3b3;
}




